/* 
    --------------------------------
           FRAMEWORK 12BOOl
    --------------------------------
*/

/* 
    ROW
*/
.row {
    display: flex;
    flex-wrap: wrap;
}

/* 
    RESET COLUMNS
*/
/* 
    Selezionami tutti gli elementi che hanno l'attributo
    class con valore che CONTIENE in QUALUNQUE posizione la scritta col-
*/
:root {
    --main-bg-color: #006CFA;
    --secondary-bg-color: #02E165;
    --main-padding: 20px;
}

section {
    margin-bottom: 20px;
}

[class*="col-"] {
    flex: 0 0 auto;
    color: white;
    background-color: var(--main-bg-color);
    border: 1px solid white;
    text-align: center;
    padding: var(--main-padding);
    /* 
    flex: GROW SHRINK BASIS;
    */
}
.nested {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--main-bg-color);
}

.padding-triple {
    padding: calc(var(--main-padding) * 3);
}

.allignment .align-start div:last-child {
    align-self: flex-start;
}

.allignment .align-center div:last-child {
    align-self: center;
}

.allignment .align-end div:last-child {
    align-self: flex-end;
}
.space-around{
    justify-content: space-around;
}



/* 
    COLUMNS
*/
.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-1 {
    width: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-4 { /* 33.33% */
    width: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-6 { /* 50% */
    width: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-12 { /* 100% */
    width: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

.col-offset-0 {
    margin-left: 0;
}

.col-offset-1 {
    margin-left: calc((100% / 12) * 1);
}

.col-offset-2 {
    margin-left: calc((100% / 12) * 2);
}

.col-offset-3 {
    margin-left: calc((100% / 12) * 3);
}

.col-offset-4 {
    margin-left: calc((100% / 12) * 4);
}

.col-offset-5 {
    margin-left: calc((100% / 12) * 5);
}

.col-offset-6 {
    margin-left: calc((100% / 12) * 6);
}

.col-offset-7 {
    margin-left: calc((100% / 12) * 7);
}

.col-offset-8 {
    margin-left: calc((100% / 12) * 8);
}

.col-offset-9 {
    margin-left: calc((100% / 12) * 9);
}

.col-offset-10 {
    margin-left: calc((100% / 12) * 10);
}

.col-offset-11 {
    margin-left: calc((100% / 12) * 11);
}

.col-offset-12 {
    margin-left: calc((100% / 12) * 12);
}

